html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    background-color: #fbf3e4;
}

.h-100{
    height: 100%;
}

.w-100{
    width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.f-w-500{
    font-weight: 500;
}

.container{
    /* background-color: rgb(230 211 176); */
    background-color: #fbf3e4;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.header{
    height: 20%;
    width: 90%;
    margin: auto;
    padding: 1rem;
}

.jc-sb {
    justify-content: space-between;
}

.logo {
    height: 100%;
}

.logo img{
    height: 100%;
    aspect-ratio: 1;
}

.flex{
    display: flex;
} 

.flex-direction-col {
    flex-direction: column;
}

.ai-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.p-4rem{
    padding: 4rem;
}

.p-1rem{
    padding: 1rem;
}

.menu-container{
    width: 50%;
    justify-content: space-around;
    border-radius: 17rem;
    background-color: #2e2727;
}

.menu-item a{
    text-decoration: none;
    color: #fbf3e4;
    transition: color 0.5s, background-color 0.5s;
}

.menu-item a:hover {
    background-color: #fbf3e4;
    color: #2e2727;
}

.background-container{
    height: 80%;
    /* background-image: url(./Assets/Background_Transparent.png); */
}

.p-heading {
    padding: 5rem 0;
}

.fs-4 {
    font-size: 4rem;
    color: #2e2727;
}

.fs-5 {
    font-size: 5rem;
    color: #4e2d24;
}

.ff-cursive{
    font-family: cursive;
}

.bg{
    background-image: url(./Assets/coffee-bg.png);
    background-size: contain;
}

.about-us {
    margin-top: 3rem;
}

.table-container {
    width: 80%;
    margin: 2rem auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #dddddd;
    text-align: center; 
    padding: 1rem;
    color: #2e2727;
}

th {
    color: #fbf3e4;
    background-color: #2e2727;
    padding: 1rem;
    text-align: center;  
    font-weight: 200;
}

.main-address {
 font-weight: 600;
}

.sub-address {

}

.cloing-time {
    font-size: 0.8em;
    margin-top: 1rem;
}

.section-heading{
    font-size: 2rem;
}

.section-sub-heading {
    width: 60%;
    margin: 1rem auto 0 auto;
    color: #2e2727;
}

.shop {
    margin-bottom: 2rem;
}

.card-container{
    height: 14rem;
    background-color: #2e2727;
    box-shadow: 1rem 0rem 6rem -3rem #fbf3e4;
    width: 30%;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin-top: 10rem;
}

.card-heading {
    color: #fbf3e4;
    margin-bottom: 0.5rem;
}

.card-sub-heading{
    opacity: 70%;
    color: #fbf3e4;
    margin-bottom: 0.5rem;
    font-size: 0.8em;
}

.card-price {
    color: #fbf3e4;
}

.card-content-container {
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.img-container img{
    width: 80%;
    position: absolute;
    bottom: 60%;
    right: 10%;
    border-radius: 2rem;
}

/* .img-container img:hover{
    box-shadow: 0 0 5rem rgba(251, 250, 250, 0.4);
    transform: scale(1.07);
} */
